{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Войти</div>
            <div class="card-body">
                <form method="post" action="{% url 'login_code' %}">
                    {% csrf_token %}
                    {% if message %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                    <div class="alert alert-info" role="alert">Код для входа отправлен на номер {{ phone_number }} ({{ code }})</div>
                    <div class="form-group row">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                            Введите код
                        </label>
                        <input name="input_code" class="col-md-4 text-md-left" maxlength="4">
                    </div>
                    <div class="col-md-6 offset-md-5">
                        <button type="submit" class="btn btn-primary">
                            Войти
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}