{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Войти</div>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                            Номер телефона
                        </label>
                        <input name="phone_number" class="col-md-4 text-md-left">
                    </div>
                    <div class="col-md-6 offset-md-5">
                        <button type="submit" class="btn btn-primary">
                            Получить код
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}