{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block header %}Профиль {{ user.phone_number }}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Профиль</h1>
        <form method="post" action="{% url 'profile' %}">
            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input type="text" class="form-control" id="phone" name="phone" value="{{ user.phone_number }}" readonly>
            </div>
            <div class="form-group">
                <label for="first_name">Имя</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" readonly>
            </div>
            <div class="form-group">
                <label for="last_name">Фамилия</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" readonly>
            </div>
            <div class="form-group">
                <label for="username">Юзернейм</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group">
                <label for="referral_code">Ваш рефералльный код</label>
                <input type="text" class="form-control" id="referral_code" name="referral_code" value="{{ user.referral_code }}" readonly>
            </div>
            <div class="form-group">
                <label for="input_code">Введите код человека, пригласившего вас</label>
                {% if user.invite_code %}
                <input type="text" class="form-control" name="input_code" value="{{ user.invite_code }}" readonly>
                {% else %}
                    {% if message %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                    <input type="text" class="form-control" name="input_code">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                {% endif %}
            </div>
            <h4>Ваши рефераллы</h4>
            <ul>
                {% for referral in referrals %}
                    <li>{{ referral.phone_number }}</li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}